name: Linter

# Controls when the action will run. Triggers the workflow on push or pull request
# events for all branches
on: [push, pull_request]

jobs:
  # Linter job
  linter:
    uses: FPtje/GLuaFixer/.github/workflows/glualint.yml@master
